spring:
    datasource:
        url: jdbc:h2:tcp://localhost/~/sample
        username: local
        password: 1234
        driver-class-name: org.h2.Driver
    jpa:
        hibernate:
            ddl-auto: create
            naming:
                physical-strategy: com.shop.sample.global.DBNaming
        properties:
            hibernate:
                format-sql: true
        show-sql: true
        open-in-view: false
        defer-datasource-initialization: true
    mvc:
        throw-exception-if-no-handler-found: true
    web:
        resources:
            add-mappings: false
    sql:
        init:
            mode: always
            platform: h2
            encoding: UTF-8
        
logging:
    level:
        org-hibernate-SQL: DEBUG
        org-hibernate-type: TRACE